body{
	font-size: 15px;
	text-align: center;
}
h1{
	font-family: monospace;
	font-weight: bold;
}	
h2 {
color: rgb(54,69,79);
font-size: 2em;
}

.strona{
	width: 70%;
	margin:auto;
}
.Płock {
	width:95%;
}
.menu ul, ul li {
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0;
		
}

.menu ul {
	text-align: center;
	padding-bottom: 5px;
	
}

.menu ul li {
	display: inline;
	white-space: nowrap;
	margin-right: 5px;
	
}

.menu ul a:link, ul a:visited {
	text-decoration: none;
	background-color:#fff;
	color: #000;
	border: 1px solid #888;
    padding: 5px;
	border-radius: 1px;
	position: relative;
	top: 1px;
		
}

.menu ul a:hover {
	background-color:silver;
	border-bottom-color:silver;
}

.linia {
	border-top: 1px solid rgb(222, 222, 222);
    border-bottom: 1px solid rgb(222, 222, 222);
 	padding-top: 6px;
    padding-bottom: 6px;
 }
p, ul, ol {
	font-family: sans-serif;
	text-align: justify;
	width:70%;
}

	

